@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: radial-gradient(
    ellipse at center,
    #865b0f 0%,
    #372903 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  font-size: 100vw;

  * {
    box-sizing: border-box;
  }
}

.layout {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-size: 0.005208em;
}

.playerCards {
  display: flex;
  justify-content: center;
}

.card {
  height: 30em;
  width: 20.6em;
  margin: 4em;
  overflow: hidden;
  font-size: 1em;
  background: #f2b211;
  border: 1px solid #000000;
  box-shadow: 0 2.53538px 2.53538px rgba(0, 0, 0, 0.4);
  border-radius: 0.5em;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #231a02;

  &[data-size="large"] {
    height: 47.6em;
    width: 32.6em;
    border-radius: 1em;
    .card__header {
      font-size: 1.5em;
    }
    .card__footer {
      font-size: 1.5em;
    }
    .card__content {
      font-size: 3em;
    }
  }

  &--answer {
    background: #231a02;
    color: #f2b211;
    cursor: pointer;
    &[data-selected="true"] {
      background: #9dc73d;
      color: #1400ff;
    }
  }
}

.card__header {
  text-align: right;
  font-size: 1.2em;
  flex: 1;
  width: 100%;
  opacity: 0.5;
}

.card__footer {
  text-align: right;
  color: #fff;
  font-size: 1.2em;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  text-align: center;
  width: 100%;
}

.fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
}

@keyframes test {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

h1 {
  font-weight: bold;
  font-size: 96px;
  line-height: 112px;
  color: #f2b211;
  animation-name: test;
  animation-duration: 5s;
}

.startForm {
  display: flex;
  justify-content: center;
  input {
    height: 1.4em;
    width: 6em;
    font-size: 9em;
  }
  button {
    height: 1.4em;
    width: 1.4em;
    font-size: 9em;
  }
}
